@using System.Data
@model DataSet
@{
    if (Session["id"] != null)
    {
        if (Session["id"].ToString() != "1")
        {
            ViewBag.Title = "Papers";
            Layout = "~/Views/Shared/_UserMaster.cshtml";
        }
        else
        {
            <script>
            window.location.href = "@Url.Action("Login","Home")";
            </script>
        }
    }
    else
    {
        <script>
            window.location.href = "@Url.Action("Login","Home")";
        </script>
    }
}
@{
    Response.AppendHeader("Cache-Control", "no-cache,no-store,must-revalidate");
    Response.AppendHeader("Pragma", "no-cache");
    Response.AppendHeader("Expires", "0");
}
@foreach (DataRow row in Model.Tables[0].Rows)
{
    <div class="card col-sm-8 mx-auto">
        <div class="card-body">
            <h3>@row["SubjectCode"]: @row["SubjectName"] (@row["Year"])</h3>
            <div class="my-0">
                <form method="post" action="Papers">
                    @Html.AntiForgeryToken()
                    <button id='sid' name="sid" value='@row["SubjectId"]' type="submit" class="btn btn-primary select-sub">View Papers</button>
                    <button id='sch' name="sgen" value='@row["SubjectId"]' type="submit" class="btn btn-primary select-ch">Generate Paper</button>
                </form>
            </div>
        </div>
    </div>
}

