@using System.Data
@model DataSet
@if (Session["id"] != null)
{
    if (Session["id"].ToString() == "1")
    {
        ViewBag.Title = "Assign Subject";
        Layout = "~/Views/Shared/_AdminMaster.cshtml";
    }
    else
    {
        <script>
            window.location.href = "@Url.Action("Login","Home")";
        </script>
    }
}
else
{
    <script>
            window.location.href = "@Url.Action("Login","Home")";
    </script>
}
@{
    Response.AppendHeader("Cache-Control", "no-cache,no-store,must-revalidate");
    Response.AppendHeader("Pragma", "no-cache");
    Response.AppendHeader("Expires", "0");
}
<div class="card">
    <div class="card-body">
        <form method="post">
            @Html.AntiForgeryToken()
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <label for="selectexaminer">Examiner</label>
                    <select id="selectexaminer" class="form-control" name="selectexaminer" required>
                        <option value="" selected disabled>--- Select Examiner ---</option>
                        @foreach (DataRow row in Model.Tables["examiner"].Rows)
                        {
                            <option value='@row["Id"]'>@row["Fname"] @row["Lname"]</option>
                        }
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label for="selectsubject">Subject</label>
                    <select id="selectsubject" name="selectsubject" class="form-control col" required>
                        <option value="" selected disabled>--- Select Subject ---</option>
                        @foreach (DataRow row in Model.Tables["subjects"].Rows)
                        {
                            <option value='@row["Id"]'>@row["SubjectCode"] - @row["SubjectName"]</option>
                        }
                    </select>
                </div>
                <div class="form-group col-sm-2">
                    <br />
                    <button type="submit" class="btn btn-success mt-2">Assign</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <table class="table table-responsive-sm" id="tblexaminer">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Examiner</th>
                    <th scope="col">Subject Code</th>
                    <th scope="col">Subject</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in Model.Tables["data"].Rows)
                {
                    <tr>
                        <th scope="row"><i class="fas fa-arrow-alt-circle-right"></i></th>
                        <td>@row["Fname"] @row["Lname"]</td>
                        <td>@row["SubjectCode"]</td>
                        <td>@row["SubjectName"]</td>
                        <td>
                            <button id=@row["Id"] class="btn btn-outline-warning btn-sm border-0 btn-edit"><i class="fas fa-edit"></i></button>
                            <button id=@row["Id"] class="btn btn-outline-danger btn-sm border-0 btn-delete"><i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!-- Delete Modal -->
<div class="modal fade" id="deletemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure want to delete this record?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btndelete">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Update Modal -->
<div class="modal fade" id="editmodal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="editexaminer">Examiner</label>
                    <select id="editexaminer" class="form-control" name="editexaminer" required>
                        @foreach (DataRow row in Model.Tables["examiner"].Rows)
                        {
                            <option value='@row["Id"]'>@row["Fname"] @row["Lname"]</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="editsubject">Subject</label>
                    <select id="editsubject" name="editsubject" class="form-control col" required>
                        @foreach (DataRow row in Model.Tables["subjects"].Rows)
                        {
                            <option value='@row["Id"]'>@row["SubjectCode"] - @row["SubjectName"]</option>
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="btn-update" class="btn btn-warning" data-dismiss="modal">Update</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@if (ViewBag.message != null)
{
    if (ViewBag.message == "done")
    {
        <script>
            Swal.fire(
                'Submitted!',
                'Subject assigned successfully!',
                'success'
            )
        </script>
    }
    else
    {
        <script>
            Swal.fire(
                'Error!',
                '@ViewBag.message',
                'error'
            )
        </script>
    }
}
<script>
    let eid, block;
    $(".btn-edit").click(function () {
        eid = this.id;
        $('#editmodal').modal('toggle');
        block = this.parentElement.parentElement;
        $("#editexaminer").append('<option value="" selected disabled>' + block.children[1].innerHTML + '</option>');
        $("#editsubject").append('<option value="" selected disabled>' + block.children[2].innerHTML + " - " + block.children[3].innerHTML + '</option>');
    });
    $("#btn-update").click(function () {
        if ($("#editexaminer").val() != "" && $("#editsubject").val() != "") {
            $.ajax({
                type: "POST",
                url: "UpdateAssignSubject",
                data: {
                    id: eid,
                    eid: $("#editexaminer").val(),
                    sid: $("#editsubject").val()
                },
                success: function (result) {
                    location.reload();
                }
            });
        }
        else {
            Swal.fire(
                'Error!',
                'Invalid selection',
                'error'
            )
        }
    });
    let deleteid = 0;
    $(".btn-delete").click(function () {
        deleteid = this.id;
        block = this.parentElement.parentElement;
        $('#deletemodal').modal('toggle');
    })
    $("#btndelete").click(function () {
        $.ajax({
            type: "POST",
            url: "DeleteAssignSubject",
            data: {
                id: deleteid
            },
            success: function (result) {
                if (result == "done") {
                    Swal.fire(
                        'Success!',
                        'Record Deleted successfully!',
                        'success'
                    );
                    block.remove();
                }
                else {
                    Swal.fire(
                        'Error!',
                        'Something went wrong!',
                        'error'
                    );
                }
            }
        });
    })
</script>


